@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Raleway:wght@400;700&display=swap");

/* - Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)


- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%) */

body {
  background-color: hsl(229, 57%, 11%);
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: unset;
  background-position-y: bottom;
  color: white;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 14px;
  margin-bottom: 200px;
}
.fylo__folder {
  padding: 0 50px 0 20px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 6px 80px 6px 6px;
  height: 140px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.fylo__folder img {
  width: 100px;
}

.fylo-icons {
  display: flex;
  margin: 16px 0;
  align-items: center;
  gap: 8px;
}
.fylo-icons img {
  background: hsl(229, 57%, 11%);
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
h1 {
  font-size: 8px;
  padding: 6px 0;
  color: hsla(243, 100%, 93%, 0.5);
}
h1 span {
  font-weight: 700;
  color: white;
}
.storage-capacity {
  padding: 20px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 6px;
  height: 70px;
}
/* --------------------------------- */
.progress-bar {
  background: hsl(229, 57%, 11%);
  width: 300px;
  height: 12px;
  border-radius: 5px;
}
.progress-bar div {
  width: 75%;
  height: 12px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}
.progress-bar div span {
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 50%;
  float: right;
}

.left-gb {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  padding-top: 10px;
  color: hsla(243, 100%, 93%, 0.5);
}
.remaining-gb {
  border-radius: 6px 6px 0 6px;
  padding: 0.5rem 0.4rem;
  background: white;
  color: black;
  width: 100%;
  width: 100px;
  position: relative;
  top: -100px;
  right: -64%;
  text-align: center;
}

.remaining-gb span {
  font-size: 10px;
  text-transform: uppercase;
}
.remaining-gb .gb {
  font-weight: 700;
  font-size: 1.5rem;
}
.triangle-1 {
  /* background-color: brown; */
  /* height: 10px;
  width: 10px; */
  border: 10px solid transparent;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  position: relative;
  top: -65px;
  right: 7.5%;
}
/* ====================================Footer=========================================== */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .remaining-gb {
    position: relative;
    top: 3px;
    right: -25%;
    border-radius: 6px;
  }
  .triangle-1 {
    display: none;
  }
  .progress-bar {
    width: 230px;
  }
}
